.regform{
    /* border: 1px solid green; */
}
.regform input{
    /* width: 50%; */
    /* height: 0.5rem !important; */
}
.form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding: 0rem 0.75rem !important;
}

.form-floating>.form-control{
  height: calc(1.5rem + 2px) !important;
  line-height: 1 !important;
}

.form-floating>label {
  padding: 0.5rem 0.75rem !important;
  size: 0.1rem !important;
  font-size: .8rem;
  line-height: 1;
}